@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: url(/assets/images/cursor.png), auto;
}

/*-------------------------------------------- Colors */

.bg-color-main {
 background-color: #c7aacd;
}

.btn-primary {
    background-color: #ef7a4e;
}

.btn-primary:hover {
    background-color: #ed5a4f;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

mark {
    background-color: #d5e8fe;
}

/*-------------------------------------------- Special paddings/margins/text/buttons */

.uppercase {
    text-transform: uppercase;
}

.letter-spacing {
    letter-spacing: 2px;
}

.btn {
    font-size: 0.9rem;
    padding: 1rem;
    border: 0;
}

a:-webkit-any-link {
    cursor: url(/assets/images/pointer.png), auto;
}

a {
    text-decoration: none;
}

.nav-link:hover {
    transform: rotateZ(3deg);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/*-------------------------------------------- Header */

header, header p {
    margin: 0;
}

.banner {
    padding: 10px 0;
    font-size: 0.9rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand { 
    background: url("/assets/images/lulu-loves-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 75px;
}

/*-------------------------------------------- Carousel */

.img-fluid {
    width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-caption {
    left: 5%;
}

/*-------------------------------------------- Intro */

.intro {
    margin: 70px 0 80px 0;
}

.intro h1 {
    margin: 15px 0 15px 0;
}

.intro img {
    max-width: 200px;
    height: auto;
}

/*-------------------------------------------- Values */

.feature-inner {
    min-height: 400px;
}

.feature-1 {
    background: url("/assets/images/club.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-2 {
    background: url("/assets/images/sleepy-bath-bomb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-info {
    visibility: hidden;
    height: 400px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: rgba(255, 255, 255, 0.1);
}

.feature-inner:hover .feature-info {
    visibility: visible;
    background-color: rgba(199, 170, 205, 0.9);
    color: #fff;
}

/*-------------------------------------------- Newsletter Sign */

.sign-up-container {
    background: url("/assets/images/sign-up.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-up {
    background-color: #fae8e2;
    border-radius: 5px;
    width: 800px;
    margin: auto;
}

/*-------------------------------------------- Values */

.values {
    margin: 100px 0;
}

.values p {
    margin-top: 20px;
}

.col-half-offset{
    margin-left:4.166666667%
}

/*-------------------------------------------- Media Queries */

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.5rem;
    }

    .carousel-caption {
        width: 40%;
    }
}